tr{
  background-color: #f2f2f2;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.text_val{
  display: none;
}