 .btnView, .btnUpdate {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  width: 100%;
  height: 100%;
}

.btnViewBackground {
  background: #b2b2ff;
}

.btnUpdteBackground {
  background: #ff9999;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
} 

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #972e2e;
  color: white;
}

td:hover {
  cursor: pointer;
}